/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the stopwatch */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* Stopwatch display */
.stopwatch {
    text-align: center;
}

/* Timer display */
#timeDisplay {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Button styles */
button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.1s ease-in-out; /* Smooth transition for background color */
    margin: 10px;
}


#startButton {
    background-color: #f59e42;
    color: white;
}

#startButton:active {
    background-color: #f59e42; 
}

/* Stop button - Red */
#stopButton {
    background-color: #f59e42;
    color: white;
}

#stopButton:active {
    background-color: #f59e42; 
}

/* Reset button - Blue */
#resetButton {
    background-color: #f59e42;
    color: white;
}

#resetButton:active {
    background-color: #f59e42; 
}


#lapButton {
    background-color: #f0ad4e;
    color: white;
}

#lapButton:active {
    background-color: #f0ad4e; 
}

/* Laps display */
#laps {
    margin-top: 20px;
    font-size: 14px;
}
